@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script&family=Gentium+Book+Plus&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700&family=Nunito:wght@400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:ital,wght@0,700;1,400&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script&family=Gentium+Book+Plus&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700&family=Nunito:wght@400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:ital,wght@0,700;1,400&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* ---------
    header
---------- */
.container{
    padding: 3% 7%;
}

.greatest-show{
    display: flex;
    align-items: center;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    
}

.show-title{
    width: 500px;
    padding: 50px;
    padding-right: 0;
}

.show-title h1{
    font-size: 4rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.show-title p{
    font-size: 14px;
    margin-bottom: 30px;
    color: #ccc;
}

.btn{
    padding: 15px 50px;
    background-color: #DD0000;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn i{
    margin-left: 10px;
    font-size: 20px;
}

.show-banner{
    width: 581px;
    height: 613px;
    padding-right:50px ;
}

.show-banner img{
    width: 100%;
    height: 100%;
}


/*---------------
    All-match 
 --------------*/

.all-match{
    display: flex;
    gap: 30px;
    margin-right: 300px;
    justify-content: space-between;
}

.boxes{
    width: 220px;
    height: 200px;
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
}

.boxes .box{
    width: 230px;
}

.box a{
    color: black;
    font-size: 20px;
    text-decoration:none ;
    background-color: white;
}

.box div{
    background-color: white;
    margin-bottom: 25px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
}

.box .blog-btn{
    background-color:#DD0000;
    color: white;
}

.transfer-live{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap:  30px;
    width: 900px;
    
}

.transfer-live .live{
    border: 1px solid #ddd;
    border-radius: 10px;
}

.transfer-live .live .live-banner{
    width: 279px;
}

.transfer-live .live .live-banner img{
    width: 100%;
}

.transfer-live .live .live-des{
    padding: 10px 15px;
    border-top: none;
    margin-top: 0px;
}

.transfer-live .live .live-des button{
    padding: 5px 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(37, 37, 37);
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 15px;
}

.transfer-live .live .live-des h3{
    font-size: 14px;
    margin-bottom: 15px;
}

.transfer-live .live .live-des .details{
    display: flex;
    align-items: center;
    gap: 30px;
}

.details div{
    color: #444;
}

.view-all{
    text-align: center;
    display: none;
}

.view{
    padding: 15px 45px;
    margin-top: 40px;
    background: tomato;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 22px;
}



/* -------------
    footer 
-------------*/
footer{
    background-color: #161616;
    color: white;
    margin-top: 100px;
    
}

.container .goal{
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    font-family: 'PT Serif', serif;
    margin-bottom: 35px;
}

hr{
    border: 1px solid rgb(36, 36, 36);
    margin-bottom: 40px;
}

.lists .list{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.lists ul li{
    list-style: none;
    font-size: 16px;
    margin-bottom: 50px;
}

.lists ul li a{
    text-decoration: none;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}




/* ---------------
    udpate match
--------------- */

.update-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.update-match .countrys{
    display: flex;
    gap: 10px;
    align-items: center;
}

.countrys {
    font-weight: 700;
}

.match-time{
    border: 1px solid rgb(238, 238, 238);
    padding: 30px;
    border-radius: 5px;
}

.match-info h3 {
    font-size: 18px;
    margin-bottom: 0;
}

.match-info p {
    font-size: 15px;
    color: #444;
    margin-top: 7px;
}

.flag{
    width: 80px;
}

.flag img{
    width: 100%;
}

.match-info{
    text-align: center;
}






/* -------------
    media quary 
----------------*/

@media only screen and (max-width:576px){

    .container{
        padding: 2% 0;
    }

    .greatest-show{
        flex-direction: column;
        padding: 18px;
        width: 100%;
    }

    .show-title{
        text-align: center;
        width: 100%;
        margin-right: 45px;
    }

    .show-banner{
        width: 100%;
        margin: auto;
    }

    .show-banner img{
        width: 100%;
        margin: auto;
        margin-left: 20px;
    }

    .all-match{
        flex-direction: column;
        width: 500px;
    }

    .boxes{
        background-color: #fff;
        margin: auto;
    }

    .boxes .box a div{
        border: 1px solid #ddd;
    }

    .transfer-live, .update-match{
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live .live .live-banner, .flag{
        width: 100%;
    }

    .transfer-live, .update-match{
    width: 450px;
    }

    hr{
        width: 100%;
    }

    .list{
        flex-direction: column;
        text-align: center;
    }

    .lists ul li{
        margin-bottom: 0;
    }

    footer{
        width: 669px;
    }

    .footer-div{
        width: 300px;
        text-align: center;
        margin: auto;
    }

}


@media only screen and (min-width:577px) and (max-width:768px){

    .container{
        width: 100%;
        padding: 3% 0;
    }

    .all-match{
        flex-direction: column;
    }

    .boxes{
        background-color: #fff;
        width: 600px;
        padding-bottom: 0px;
        height: 80px;
    }

    .boxes .box{
        display: flex;
    }

    .box a{
    margin-right: 30px;
    margin-bottom: 0px;
    }

    .box a div{
    width: 200px;
    border: 1px solid #ddd;
    }

    .transfer-live, .update-match{
        grid-template-columns: repeat(2, 1fr);
    }

    .transfer-live .live .live-banner, .flag{
        width: 100%;
    }

    .transfer-live, .update-match{
    width: 700px;
    }

    .responsive-none{
        display: none;
    }

    .view-all{
        display: block;
        margin-left: 122px;
        width: 470px;
    }

    footer{
        width: 834px;
    }

    .footer-div{
        width: 300px;
        text-align: center;
        margin: auto;
    }
}